@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SQL WEB APPLICATION </h1>
    <p>Try to make the right query below.</a>.</p>
    <input type="text" name="query" id="user_query">
    <input type="submit" value="Submit">

</div>
